
<table>
  <thead>
    <tr>
      <th><img src="/hn_logo.gif"></th>
      <td>Hacker News | new | comments | ask | jobs | submit</td>
      <td>login</td>
    </tr>
  </thead>

  <tbody>
    <% @articles.each_with_index do |article, i| %>
      <tr>
        <td><%= "#{i + 1}." %></td>
        <td>
          <a href="http://www.<%= article[:url] %>" target="_blank"><%= article[:title]%></a>
          <%= "(#{article[:url]})" %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= "#{article[:points]} points by #{article[:posted_by]} at #{article[:time_posted]} | #{article[:comments]} comments" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

